@import "tailwindcss";

.scroll-left-infinite {
    animation: scroll-left-infinite 20s linear infinite;
    display: flex;
    width: max-content;
  }
  
  @keyframes scroll-left-infinite {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  